# Ignore node_modules directory
node_modules

# Ignore build output directory
build

# Ignore development files
src/**/*.test.ts
src/**/*.test.tsx
src/**/*.spec.ts
src/**/*.spec.tsx
src/setupTests.ts

# Ignore editor and IDE files
.vscode
.idea
*.iml

# Ignore version control files
.git
.gitignore
