.canvas {
  width: 100vw;
  height: 100vh;
  background: rgb(249,248,254);
  background: linear-gradient(90deg, rgba(249,248,254,1) 0%, rgba(198,198,240,1) 35%, rgba(97,212,236,1) 100%);
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 70vh;
  width: 50vwh;
  background-color: rgba(243, 243, 243, 0.559);
  border-radius: 30px;
  display: flex;
}

.images {
  flex: 1;
  position: relative;
}
.wrapper .images img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 30px 0 0 30px;
}
.form-container {
  flex: 1;
  justify-content: center;
  position: relative;
  padding: 30px 10px 10px 10px;
}

.form-field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.form-wrapper
{
  margin-left: 10%;
  width: 80%;
  padding: auto;
}
label {
  font-weight: bold;
  color: #7e7e7e;
  font-size: medium;
  margin-bottom: 2px;
}

.input-fields {
  height: 30px;
  border-radius: 5px;
  padding: 3px 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}
.input-fields:focus{
  border-color: lightskyblue;
}
.select-field {
  margin-bottom: 10px;
  font-size: 1rem;
  height: 30px;
  border-radius: 5px;
}

.error {
  color: red;
  font-size: 12px;
}
#submit-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  width: 100%;
  height: 40px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#checkbox-field {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
#checkbox-field input {
  width: 20px;
  height: 20px;
}
#radio-field {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#radio-field div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
#radio-field input {
  width: 20px;
  height: 20px;
}
button:hover {
  background-color: #1a211a;
}
.labals {
  font-size: 1.3rem;
}
